

<div class="section section-gray come">
	<div class="layout">
		<h2 class="title__section" role="heading" aria-level="2">Кому нужно быть на вебинаре</h2>
		<ul class="comein">
			<li>
				<h3 class="title__come" role="heading" aria-level="3">Нович&shy;кам</h3>
				<p >Ты хочешь запустить свой бизнес с Китаем и сразу все делать правильно, не тратя деньги и нервы на неудачные попытки</p>
			</li>
			<li>
				<h3 class="title__come" role="heading" aria-level="3">Пред&shy;при&shy;ни&shy;ма&shy;телям</h3>
				<p >Ты ищешь новое направление для инвестиций с высокой маржинальностью и минимальными рисками</p>
			</li>
			<li>
				<h3 class="title__come" role="heading" aria-level="3">СОТРУД&shy;НИКАМ</h3>
				<p >Ты стремишься получать дополнительный доход или начать собственный бизнес чтобы выйти на хорошие заработки и только потом уволиться</p>
			</li>
			<li>
				<h3 class="title__come" role="heading" aria-level="3">ВСЕМ</h3>
				<p >Кто хочет строить бизнес удаленно и много зарабатывать в $, без привязки к экономической ситуации в стране</p>
			</li>
		</ul>

		<div class="secretq__box">
			<p class="desc__b">Кроме того закончился первый сезон Большой Игры и <hbr>ХХ июня в прямом эфире<br> я выберу <mark><b>3 главных победителя,</b></mark><br>которые получат по <b>1000$ каждый...</b></p>
		</div>
	</div>
</div>
