<div class="section pref text-center">
	<div class="section__bg">
		<picture>
			<source srcset="static/img/content/pref.webp "
			        type="image/webp">
			<img src="static/img/content/pref.jpg" alt="dima kovpak" class="section__img">
		</picture>
	</div>
	<div class="layout">
		<h2 class="title__section no-line" role="heading" aria-level="2">Откровения<br>Димы Ковпака</h2>
		<form action="/" method="post" class="hero__form js-validate">
			<fieldset class="hero__fieldset">
				<input class="email" type="email" name="email" id="email" placeholder="E-Mail">
				<button class="btn btn-red">Зарегистрилроваться</button>
			</fieldset>
			<fieldset class="hero__fieldset">
				<label class="check" for="f-check" >
					<input type="checkbox" id="f-check">
					<span>Напомнить мне о вебинаре с помощью SMS</span>
				</label>
			</fieldset>
			<fieldset class="hero__fieldset phone" style="display: none">
				<input class="tel" type="tel" name="tel" id="tel" placeholder="" >
			</fieldset>
		</form>
	</div>
</div>
