
<div class="section youknow">
	<div class="layout">
		<h2 class="title__section" role="heading" aria-level="2">Во время прямого эфира ты узнаешь как</h2>
		<ul class="comein">
			<li>
				<img src="static/img/content/filter.svg" alt="">
				<p ><strong>Грамотно выстроить воронку продаж </strong></p>
			</li>
			<li>
				<img src="static/img/content/gears.svg" alt="">
				<p ><strong>Наладить и автоматизировать ключевые процессы</strong></p>
			</li>
			<li>
				<img src="static/img/content/crane.svg" alt="">
				<p><strong>Управлять логистикой и товарными запасами</strong></p>
			</li>
			<li>
				<img src="static/img/content/badge.svg" alt="">
				<p><strong>Организовать сервис и гарантию</strong></p>
			</li>
		</ul>
		<p class="desc__xr text-center"><strong>и решить другие важные вопросы, которые возникают при ведении бизнеса с Китаем</strong></p>
		<div class="text-center">
			<button class="btn btn-red js-go-down" data-down="pref" style="margin-top: 30px">Зарегистрироваться</button>
		</div>
	</div>
</div>
