<div class="section secretq">
	<div class="section__bg">
		<picture>
			<source srcset="static/img/content/secretq.webp "
			        type="image/webp">
			<img src="static/img/content/secretq.jpg" alt="autor" class="section__img">
		</picture>
	</div>
	<div class="layout">
		<div class="secretq__box">
			<p>А еще впервые и только в прямом эфире я отвечу на вопрос, который волнует практически каждого моего ученика…</p>
			<h3  role="heading" aria-level="3">Каким видом бизнеса я занимаюсь<br> и как стал экспертом №1 в теме бизнеса с Китаем</h3>
		</div>
	</div>
</div>
