
<ul class="speakabout">
	<li>
		<picture>
			<source srcset="static/img/content/cl-01.webp "
								type="image/webp">
			<img src="static/img/content/cl-01.png" alt="pic" class="justified__img">
		</picture>
	</li>
	<li>
		<picture>
			<source srcset="static/img/content/cl-02.webp "
								type="image/webp">
			<img src="static/img/content/cl-02.png" alt="pic" class="justified__img">
		</picture>
	</li>
	<li>
		<picture>
			<source srcset="static/img/content/cl-03.webp "
								type="image/webp">
			<img src="static/img/content/cl-03.png" alt="pic" class="justified__img">
		</picture>
	</li>
	<li>
		<picture>
			<source srcset="static/img/content/cl-04.webp "
								type="image/webp">
			<img src="static/img/content/cl-04.png" alt="pic" class="justified__img">
		</picture>
	</li>
	<li>
		<picture>
			<source srcset="static/img/content/cl-05.webp "
								type="image/webp">
			<img src="static/img/content/cl-05.png" alt="pic" class="justified__img">
		</picture>
	</li>
	<li>
		<picture>
			<source srcset="static/img/content/cl-06.webp "
								type="image/webp">
			<img src="static/img/content/cl-06.png" alt="pic" class="justified__img">
		</picture>
	</li>
	<li>
		<picture>
			<source srcset="static/img/content/cl-07.webp "
								type="image/webp">
			<img src="static/img/content/cl-07.png" alt="pic" class="justified__img">
		</picture>
	</li>
	<li>
		<picture>
			<source srcset="static/img/content/cl-08.webp "
								type="image/webp">
			<img src="static/img/content/cl-08.png" alt="pic" class="justified__img">
		</picture>
	</li>
</ul>